body {
    font-family: 'DM Sans', sans-serif;
    background-color: #000000;
    margin: 0px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/* HEADER STYLE */

.main-header {
    width: 100px;
    height: 100vh;
    position: fixed;
    border-right: 0.5px solid #CCCCCC;
}

.header-icons {
    display: block;
}

.header-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/* REST OF THE BODY */

section.main-body {
    position: fixed;
    margin-left: 101px;
}

.selected-movie-descp {
    margin-top: -16px;
    background: url(../images/movie-bg.svg) no-repeat;
    background-size: cover;
    min-width: 420px;
}

.smd-box {
    background: linear-gradient(90.58deg, #000000 36.54%, rgba(0, 0, 0, 0) 91.99%);
    padding: 100px 0px 70px 50px;
}

.smd-header p {
    font-weight: 500;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 15px;
}

.smd-star-rating {
    margin-right: 8px;
}

.smd-star-rating img {
    margin-right: 6.5px;
}

.smd-ratings,
.smd-review-season {
    display: flex;
}

.smd-review-season p {
    margin: 0px;
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
}

.smd-details p {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-right: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.smd-button {
    display: flex;
    padding: 11px 35px;
    background-color: #000000;
    width: fit-content;
}

.smd-button:hover {
    background-color: #363636;
}

.smd-button p {
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    margin-left: 10px;
}