body {
    font-family: 'DM Sans', sans-serif;
    background-color: #000000;
    margin: 0px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/* HEADER STYLE */

.main-header {
    width: 6%;
    height: 100vh;
    position: fixed;
    border-right: 0.5px solid #CCCCCC;
}

.header-icons {
    display: block;
}

.header-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/* HOMEPAGE */

section.main-body {
    position: fixed;
    margin-left: 6%;
    height: 100vh;
    overflow-y: scroll;
    width: 94%;
}

.selected-movie-descp {
    margin-top: -16px;
    background: url(../images/movie-bg.svg) no-repeat;
    background-size: cover;
    min-width: 420px;
    margin-left: 50px;
}

.smd-box {
    background: linear-gradient(90.58deg, #000000 36.54%, rgba(0, 0, 0, 0) 91.99%);
    padding: 100px 0px 70px 0px;
}

.smd-header p {
    font-weight: 500;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 15px;
}

.smd-star-rating {
    margin-right: 8px;
}

.smd-star-rating img {
    margin-right: 6.5px;
}

.smd-ratings,
.smd-review-season {
    display: flex;
}

.smd-review-season p {
    margin: 0px;
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
}

.smd-details p {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-right: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.smd-button {
    display: flex;
    padding: 11px 35px;
    background-color: #000000;
    width: fit-content;
}

.smd-button:hover {
    background-color: #363636;
}

.smd-button p {
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    margin-left: 10px;
}

.tms-slider {
    display: flex;
}

.tms-box {
    padding-left: 50px;
    margin-bottom: 40px;
}

.tms-box p {
    margin: 0px;
}

.tms-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 25px;
}

.tms-main-header {
    font-weight: 500;
    font-size: 24px;
    padding-right: 25px;
}

p.tms-sub-header {
    font-weight: 500;
    font-size: 14px;
    color: #FA5555;
    margin-top: 8px;
}

.tms-slider-img {
    margin-right: 7px;
}

.tms-slider-img img {
    width: 240px;
    height: 360px;
}

p.tms-movie-name {
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.tms-review-ratings {
    display: flex;
}

.tms-star-rating img {
    width: 14px;
}

p.tms-rating-num {
    font-weight: 500;
    font-size: 12px;
    margin-left: 12px;
}

.tms-slider {
    width: fit-content;
    margin-bottom: 20px;
}

.tms-slider-scroll {
    width: 100%;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}